* {
    margin: 0;
}

html, body {
    padding: 0;
    margin: 0;
    font-size: 12px;
    width: auto;
    height: 100%;
    background-color: black;
    font-family: Helvetica, monospace;
}

h1 {
    color: white;
}

#app {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    text-align: center;

    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
}
.color-effect {
    position: absolute;
    top: 0;
    left: 0;

    padding: 0;
    margin: 0;
    background-color: black;

    width: 100%;
    height: 100%;
}

.info {
    font-size: 20px;
    color: white;
}



.strobe {
    position: absolute;
    top: 0;
    left: 0;

    padding: 0;
    margin: 0;
    background-color: rgba(255, 255, 255, 100);

    width: 100%;
    height: 100%;

    display: none;
}

.image {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
}

.beat {
    font-size: 100px;
    color: white;
    display: none;
    overflow: hidden;
}

