* {
    margin: 0;
}

html, body {
    padding: 0;
    margin: 0;
    font-size: 12px;
    width: auto;
    height: 100%;
    background-color: black;
}

h1 {
    color: white;
}

#app {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}

.info {
    font-size: 20px;
    color: white;
}